<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports Website</title>
    <!-- css link -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <div id="container-main" class="index-container">
      <div class="navbar">
        <!-- logo -->
        <div id="logo">football catalogue</div>
      </div>

      <!-- image -->
      <div id="image">
        <img
          src="../public/assets/Football_Player.png"
          alt="football player png"
        />
      </div>

      <!-- content -->
      <div id="content">
        <h2>FOOTBALL IS LIFE</h2>
        <h4>Let's dive into the world of fOOtball</h4>
      </div>

      <a href="/country">
        <button class="primary-button">Let's Go</button>
      </a>

      <!-- icons -->
      <div id="icons">
        <!-- visit => "fontawesome.com" for icons -->
        <a href="#" id="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" id="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" id="youtube"><i class="fab fa-youtube"></i></a>
        <a href="#" id="twitter"><i class="fab fa-twitter"></i></a>
      </div>

      <!-- lines -->
      <div id="line1"></div>
      <div id="line2"></div>
    </div>
  </body>
</html>